# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.env

.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.devcontainer/

.DS_Store

data/

docker-compose.traefik.yml
